# --- Discord Bot ---
# Token for the bot, you can get this from the Discord Developer Portal
TOKEN=your_discord_bot_token
# Guild ID mostly used for development purposes
GUILD_ID=your_test_guild_id
# This is the client ID of your bot, you can get this from the Discord Developer Portal
CLIENT_ID=your_discord_application_client_id
# URL for the bot's documentation
DOCS_URL=https://docs.khaxy.net

# --- Web App ---

# Generate a secret with `openssl rand -base64 32` in your terminal
BETTER_AUTH_SECRET=your_better_auth_secret
# Base URL of your app
BETTER_AUTH_URL=http://localhost:3000
# Get these from your Discord Developer Portal application
DISCORD_CLIENT_ID=your_discord_application_client_id
# Postgres database URL for your web app (This is used for better-auth, using the same database as the bot is not tested)
POSTGRES_URL=postgres://user:password@localhost:5432/khaxy
# Discord OAuth2 Client Secret
DISCORD_CLIENT_SECRET=your_discord_client_secret
# Discord Bot Token
DISCORD_BOT_TOKEN=your_discord_bot_token
# API URL for your bot, e.g. https://my-discord-bot.example.com
FASTIFY_API_URL=http://localhost:3001
# Internal API Key for secure communication between the web app and bot
INTERNAL_API_KEY=your_internal_api_key

# --- Database ---

# Postgres database connection details
DATABASE_URL=postgres://user:password@localhost:5432/khaxy

# --- Other ---
NODE_ENV=development
API_KEY_PBKDF2_SALT=your_api_key_pbkdf2_salt
