# --- Discord Bot ---
#Token for the bot, you can get this from the Discord Developer Portal
TOKEN=YOUR_BOT_TOKEN
#Guild ID mostly used for development purposes
GUILD_ID=YOUR_GUILD_ID
#This is the client ID of your bot, you can get this from the Discord Developer Portal
CLIENT_ID=YOUR_CLIENT_ID
# URL for the bot's documentation
DOCS_URL=https://docs.khaxy.net

# --- Web App ---

# Generate a secret with `openssl rand -base64 32` in your terminal
BETTER_AUTH_SECRET=SomeRandomGeneratedSecret==
# Base URL of your app
BETTER_AUTH_URL=http://localhost:3000
# Get these from your Discord Developer Portal application
DISCORD_CLIENT_ID=CLIENT_ID_HERE
# Postgres database URL for your web app
POSTGRES_URL=URL_TO_YOUR_POSTGRES_DATABASE
# Discord OAuth2 Client Secret
DISCORD_CLIENT_SECRET=CLIENT_SECRET
# Discord Bot Token
DISCORD_BOT_TOKEN=YOUR_BOT_TOKEN
# API URL for your bot, e.g. https://my-discord-bot.example.com
FASTIFY_API_URL="http://localhost:3001"
# Internal API Key for secure communication between the web app and bot
INTERNAL_API_KEY=SomeRandomGeneratedApiKey==

# --- Database ---

#Postgres database connection details
DATABASE_URL=postgres://username:password@localhost:5432/database_name

# --- Other ---
NODE_ENV=development